@{
    ViewData["Title"] = "Details";
}

 <p>  </p>

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               <p> Username</p>
            </th>
            <th>
              <p> Password</p>
            </th>
            <th>
               <p>RecoveryEmail </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      
          <tr>
                <td>
                       <p>1 </p>
                </td>
                <td>
                       <p>1 </p>
                </td>
                <td>
                        <p> 1</p>
                </td>
                <td>
                    <a class="badge bg-dark" action="Create">Create</a> |
                    <a class="badge bg-dark" action="Edit">Edit</a> |
                    <a class="badge bg-dark" action="Details" >Details</a> 
                </td>
            </tr>
        
    </tbody>
</table>
