@{
    ViewBag.Title = "Edit my Profile";
    Layout = "_Layout";
}

 <p> </p>
 <div class=" d-flex justify-content-end align-items-end">
     <a class="badge bg-danger" controller="Guests" action="Logout">Logout</a>
 </div>
        
<h2>My Profile</h2>
<div class="container">
     <p> </p>
    @* Personal Info *@
    <h2>Name</h2>
    <p>
        Bio
    </p>
     <p> </p>
    @* Additional Preferences *@
    <h4>Favorite Recipes</h4>
    <p>
        FavoriteRecipes
    </p>
     <p> </p>
    <h4>Favorite Snacks</h4>
    <p>
        FavoriteSnacks
    </p>
    <p> </p>
    <h4>Good Combos</h4>
    <p>
        GoodCombos
    </p>
</div>

        <a class="badge bg-dark" controller="Profile" action="EditPage" route-id>Edit my Profile</a> |
        <a class="badge bg-dark" controller="Guests" action="Edit">Account Settings</a>
